extends layout 

block content
    ul
        each user, i in users
            article 
                li
                    a(href=`/users/${user._id}`) #{user.firstName} #{user.lastName}
                    br
                    a(href=`/users/edit/${user._id}`) Edit 
                    br
                    a(href='#', data-id=user._id) Delete
                    br
                    br