extends layout 

block content
    h3 #{title}
    ul(class="match-article-container")
        each user, i in users
            article(class="match-article") 
                li
                    h2: a(href=`/users/${user._id}`) #{user.firstName} #{user.lastName}
                    ul
                        li: div(class="code"): code const code = "Code is geweldig"
                        li(class="code-taal")
                            ul 
                                li
                                    article 
                                        div 
                                            img(src="", alt="Code taal logo")
                                            p HTML
                                li
                                    article 
                                        div 
                                            img(src="", alt="Code taal logo")
                                            p CSS
                                li
                                    article 
                                        div 
                                            img(src="", alt="Code taal logo")
                                            p JS
                            div(class="meerLezen-container")
                                button Meer lezen
                    div(class="button-container")
                        form(action=`/${user.id}` method="POST") 
                            button(name="dislike" value="false" class="negeer") Negeer
                            button(name="like" value="true" class="accepteer") Accepteer