extends layout 

block content
    h3 #{title}
    ul(class="match-article-container")
        each user, i in users
            article(class="match-article") 
                li
                    h2: a(href=`/users/${user._id}`) #{user.firstName} #{user.lastName}
                    ul
                        li: div(class="code"): code const code = "Code is geweldig"
                        li(class="code-taal")
                            p(class="interesses-section") Interesses:
                            ul 
                                each codeInterest, i in user.codeInterests
                                    li
                                        article
                                            div 
                                                p #{codeInterest}
                            div(class="meerLezen-container")
                                button Meer lezen